<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Кофе</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Latest compiled and minified CSS -->


    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/CSS/Sidebar.css">
    <link rel="stylesheet" type="text/css" href="/CSS/Upload.css">
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-2" >
            <div class="sidenav">
                <div class="sidebar-header">
                    <h3> KOFAN Admin</h3>
                </div>
                <a href="/statistics/admin-statistics" >Статистика</a>
                <a href="/menu/admin-menu" >Меню</a>
                <a href="/location/admin-locations" >Локации</a>
                <a href="/page/admin-pages" >Страницы</a>
                <a href="/user/admin-users" >Пользователи</a>
                <a href="/order/admin-orders" >Заказы</a>
            </div>
        </div>
        <div class="col-md-10" >
            <div id="content">
                <nav class="navbar navbar-expand-lg navbar-light bg-light">
                    <div class="container-fluid">
                        <center><h2>Кофе</h2></center>
                        <form class="d-flex" th:action="@{/logout}" method="post">
                            <input type="submit" class="btn btn-secondary" value="Выход"/>
                        </form>
                    </div>
                </nav>
                <br>
                <!--Content-->
                <form th:method="POST" th:action="@{order-card-save}" th:object="${order}"
                      enctype="multipart/form-data">
                    <input type="hidden" class="form-control" th:field="*{id}" id="id">
                    <div class="row">
                        <div class="col-md-9">
                            <!--         Изменить!!! юзер вводится вручную           -->
                            <label for="user">Заказчик</label>
                            <input readonly type="text" class="form-control"
                                   placeholder="Пользователь" id="user">
                            <input type="hidden" class="form-control"  value="1"
                                   placeholder="Пользователь" name="user">
                        </div>
                        <div class="col-md-3">
                            <label for="orderStatus">Статус</label>
                            <select class="form-select" th:field="*{orderStatus}" id="orderStatus"
                                    aria-label="Default select">

                                <option th:value="ORDERED" th:text="Заказан"></option>
                                <option th:value="READY" th:text="Готов"></option>
                                <option th:value="COMPLETED" th:text="Выдан"></option>
                            </select>
                        </div>
                    </div>
                    <br>
                    <div th:switch="${order.orderedProductList}">
                        <h2 th:case="null">Добавьте продукт</h2>
                        <div th:case="*">
                            <div class="row row-cols-1 row-cols-sm-1 g-1" id="2">
                                <div class="col"
                                     th:each="orderedProduct, itemStat : ${order.orderedProductList}"
                                     th:id="'ordProd-'+${itemStat.index}">
                                    <div class="card" style="background-color: #ececec">
                                        <div class="row">
                                            <div class="col-md-9">
                                                <label for="product">Продукт</label>
                                                <input readonly type="text"
                                                       th:value="${order.orderedProductList[__${itemStat.index}__].product.name}"
                                                       class="form-control">
                                                <input hidden type="text"
                                                       th:field="${order.orderedProductList[__${itemStat.index}__].product}"
                                                       class="form-control" id="product">

                                                <label for="additives">Добавки</label>
                                                <input readonly type="text"
                                                       th:value="${order.orderedProductList[__${itemStat.index}__].getAdditivesNames2}"
                                                       class="form-control">
                                                <input hidden type="text"
                                                       th:field="${order.orderedProductList[__${itemStat.index}__].coffeeAdditiveList}"
                                                       class="form-control" id="additives">
                                            </div>
                                            <div class="col-md-3">
                                                <label for="quantity">Колличество</label>
                                                <input readonly type="text"
                                                       th:field="${order.orderedProductList[__${itemStat.index}__].quantity}"
                                                       class="form-control" id="quantity">

                                                <label for="quantity">Размер</label>
                                                <input readonly type="text"
                                                       th:field="${order.orderedProductList[__${itemStat.index}__].size}"
                                                       class="form-control" id="size">
                                                <input hidden type="text"
                                                       th:field="${order.orderedProductList[__${itemStat.index}__].price}"
                                                       class="form-control">
                                            </div>

                                        </div>

                                        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                                            <h4 th:text="'Цена '+ ${order.orderedProductList[__${itemStat.index}__].price} +  ' грн.'"></h4>
                                            <a th:onclick="'deleteOrdProd(' + ${itemStat.index} + ')'"
                                               class="btn btn-danger ">Удалить</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--                        форма создания продукта-->

                    <div th:onchange="getOrderedProductPrice()">
                        <div class="card" hidden th:object="${orderedProduct}" id="ordProdCard">
<!--                            <label for="opProduct"></label>-->
                            <div class="row">
                                <div class="col-md-9">
                                    <label for="opProduct">Продукт</label>
                                    <select class="form-select" th:field="${orderedProduct.product}"
                                            id="opProduct"
                                            aria-label="Default select" th:onchange="updateOrderedProduct()">
                                        <option value=" ">Выберите продукт</option>
                                        <option th:each="product, item : ${allProductList}"
                                                th:text="${allProductList[__${item.index}__].name}" th:value="${allProductList[__${item.index}__].id}" name="nproduct"
                                                value=" "></option>
                                    </select>
                                    <br>
                                </div>
                                <div class="col-md-3">
                                    <label for="opQuantity">Колличество</label>
                                    <input type="text" class="form-control" id="opQuantity" value="1"
                                           placeholder="1" name="quantity">
                                </div>
                            </div>
                            <div id="orderedProductInfo">
                                <div class="row">
                                    <div class="col-md-3">
                                        <select class="form-select" id="opAdd1" aria-label="Default select" th:field="${orderedProduct.coffeeAdditiveList}">
                                            <option value="">Выберите добавку </option>
                                            <option th:each="syrup : ${syrups}" th:value="${syrup.id}"
                                                    th:text="${syrup.name}" name="coffeeAdditiveList"></option>
                                        </select>
                                        <label for="opAdd1">Сиропы</label>
                                    </div>
                                    <div class="col-md-2">
                                        <select class="form-select" id="opAdd2" aria-label="Default select" th:field="${orderedProduct.coffeeAdditiveList}">
                                            <option value="">Выберите добавку</option>
                                            <option th:each="alcohol : ${alcohols}" th:value="${alcohol.id}"
                                                    th:text="${alcohol.name}" name="coffeeAdditiveList"></option>
                                        </select>
                                        <label for="opAdd2">Алкоголь</label>
                                    </div>
                                    <div class="col-md-2">
                                        <select class="form-select" id="opAdd3" aria-label="Default select" th:field="${orderedProduct.coffeeAdditiveList}">
                                            <option value="" >Выберите добавку</option>
                                            <option th:each="milk : ${milks}" th:value="${milk.id}"
                                                    th:text="${milk.name}" name="coffeeAdditiveList"></option>
                                        </select>
                                        <label for="opAdd3">Молоко</label>
                                    </div>
                                    <div class="col-md-2">
                                        <select class="form-select" id="opAdd4" aria-label="Default select" th:field="${orderedProduct.coffeeAdditiveList}">
                                            <option value="">Выберите добавку</option>
                                            <option th:each="additive : ${additives}" th:value="${additive.id}"
                                                    th:text="${additive.name}" name="coffeeAdditiveList"></option>
                                        </select>
                                        <label for="opAdd4">Добавки</label>
                                    </div>
                                    <div class="col-md-3" id="sizes">
                                    </div>
                                </div>
                                <br>
                            </div>
                            <div class="d-grid gap-2 d-md-block">
                                <button type="submit" formaction="add-ordered-product-to-list"
                                        class="btn btn-secondary">Добавить
                                </button>
                            </div>
                            <div id="price"></div>
                        </div>
                        <br>
                    </div>
                    <div>
                        <a class="btn btn-secondary me-md-2" onclick="addOrderedProductCard()">Добавить продукт</a>
                        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                            <h4 th:text="'Цена '+ ${order.price} +  ' грн.'"></h4>
                            <input hidden type="text" th:field="${order.price}" name="orprice" id="orprice">
                        </div>
                    </div>
                    <br>
                    <div>
                        <select class="form-select" th:field="${order.deliveryType}" th:onchange="updateDeliveryInfo()"
                                id="deliveryType" aria-label="Default select">
                            <option value="FORHERE">В заведении</option>
                            <option value="TOGO">На вынос</option>
                            <option value="DELIVERY">Доставка</option>
                        </select>

                        <div hidden id="deliveryInfo">
                            <div class="card" style="background-color: #ececec">
                                <label for="addressName">Имя</label>
                                <input type="text" th:field="${order.address.name}" class="form-control"
                                       id="addressName"
                                       placeholder="Тарас" name="quantity">
                                <label for="addressPhoneNumber">Номер телефона</label>
                                <input type="number" th:field="${order.address.phoneNumber}" class="form-control"
                                       id="addressPhoneNumber"
                                       placeholder="063-063-63-63" name="quantity">

                                <label for="сity">Город</label>
                                <select class="form-select" th:field="${order.address.city}"
                                        id="сity"
                                        aria-label="Default select">
                                    <option value="KYIV">Киев</option>
                                </select>
                                <label for="addressStreet">Улица</label>
                                <input type="text" th:field="${order.address.street}" class="form-control"
                                       id="addressStreet"
                                       placeholder="пр-т Шевченко" name="quantity">
                                <div class="row">
                                    <div class="col-md-4">
                                        <label for="addressHouse">Дом</label>
                                        <input type="number" th:field="${order.address.house}" class="form-control"
                                               id="addressHouse"
                                               placeholder="1Б" name="quantity">
                                    </div>
                                    <div class="col-md-4">
                                        <label for="addressPorch">Подъезд</label>
                                        <input type="number" th:field="${order.address.porch}" class="form-control"
                                               id="addressPorch"
                                               placeholder="2" name="quantity">
                                    </div>
                                    <div class="col-md-4">
                                        <label for="addressApartment">Квартира</label>
                                        <input type="number" th:field="${order.address.apartment}" class="form-control"
                                               id="addressApartment"
                                               placeholder="15" name="quantity">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <label for="addressDateOfDelivery">Время Дата</label>
                                        <input type="datetime-local"
                                               class="form-control" id="addressDateOfDelivery"
                                               placeholder="1Б" name="quantity">
                                    </div>
                                </div>
                                <br>
                            </div>
                        </div>

                    </div>
                    <br>
                    <div>
                        <select class="form-select" th:field="${order.paymentType}" th:onchange="updatePaymentInfo()"
                                id="paymentType"
                                aria-label="Default select">
                            <option value="CASH">Наличными</option>
                            <option value="CARD">Картой</option>

                        </select>
                        <div hidden id="paymentInfo">
                            <label for="quantity">Приготовить сдачу с</label>
                            <input type="text" class="form-control" id="change" value="1"
                                   placeholder="1" name="quantity">
                        </div>
                    </div>
                    <br>

                    <br>
                    <button type="submit" class="btn btn-secondary">Сохранить</button>
                </form>
            </div>
        </div>
    </div>
</div>


<!-- jQuery -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>


<script th:inline="javascript">
    let ordProdDiv = $("#orderedProducts");

    function updateDeliveryInfo() {
        let value = $('#deliveryType').val();
        value == 'DELIVERY' ? document.getElementById("deliveryInfo").removeAttribute("hidden")
            : document.getElementById("deliveryInfo").setAttribute("hidden", "hidden")
        updatePaymentInfo();

    }
    window.onload = updateDeliveryInfo;
    function updatePaymentInfo() {
        let value = $('#deliveryType').val();
        let value2 = $('#paymentType').val();
        value == 'DELIVERY' && value2 == 'CASH' ? document.getElementById("paymentInfo").removeAttribute("hidden")
            : document.getElementById("paymentInfo").setAttribute("hidden", "hidden")

    }

    function deleteOrdProd(id) {
        let ordProd = $("#ordProd-" + id);
        ordProd.remove();

    }

    function addOrderedProductCard() {
        document.getElementById("ordProdCard").removeAttribute("hidden");
    }

    function updateOrderedProduct() {
        let sizes = $("#sizes");
        $.ajax({
            url: 'check-ordered-product-type',
            method: 'GET',
            traditional: true,
            data: {id: $('#opProduct').val()},
            success: function (data) {
                data === 'notcoffee' ? ($("#orderedProductInfo").hide(), console.log("-")) :
                    ($("#orderedProductInfo").show(), console.log("+"))
                    sizes.html(data);




            }
        });
    }
    function getOrderedProductPrice() {
        console.log("start");
        let price = $("#price");

        let product = $('#opProduct').val();
        let quantity = $('#opQuantity').val();
        let add1 = $('#opAdd1').val();
        let add2 = $('#opAdd2').val();
        let add3 = $('#opAdd3').val();
        let add4 = $('#opAdd4').val();
        let size = $('#opSize').val();

        console.log('product='+ product+'&quantity='+ quantity+'&add1='+ add1+'&add2='+ add2+'&add3='+ add3+'&add4='+ add4+'&size='+ size);
        $.ajax({
            url: 'get-ordered-product-price',
            method: 'get',
            data:'product='+ product+'&quantity='+ quantity+'&add1='+ add1+'&add2='+ add2+'&add3='+ add3+'&add4='+ add4+'&size='+ size,
            success: function (data) {
                price.html(data);

            }

        });
        console.log("fin");
    }

    //
    // function addOrderedProduct() {
    //     console.log("1");
    //     // $("orderedProducts").clone().appendTo("includedContent");
    //     var clone = $("#1").clone();
    //
    //     $("#2").append(clone);
    //     console.log("2");
    // }


</script>
<!-- jQuery -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!-- Latest compiled and minified JavaScript -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
<script src="/JS/Upload.js"></script>
</body>
</html>