<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Кофе</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Latest compiled and minified CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/CSS/Sidebar.css" />
    <link rel="stylesheet" type="text/css" href="/CSS/Upload.css" />
</head>

<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-2" >
            <div class="sidenav">
                <div class="sidebar-header">
                    <h3> KOFAN Admin</h3>
                </div>
                <a href="/statistics/admin-statistics" >Статистика</a>
                <a href="/menu/admin-menu" >Меню</a>
                <a href="/location/admin-locations" >Локации</a>
                <a href="/page/admin-pages" >Страницы</a>
                <a href="/user/admin-users" >Пользователи</a>
                <a href="/order/admin-orders" >Заказы</a>
            </div>
        </div>
        <div class="col-md-10" >
            <div id="content">
                <nav class="navbar navbar-expand-lg navbar-light bg-light">
                    <div class="container-fluid">
                        <center><h2>Кофе</h2></center>
                        <form class="d-flex" th:action="@{/logout}" method="post">
                            <input type="submit" class="btn btn-secondary" value="Выход"/>
                        </form>
                    </div>
                </nav>
                <br>




      <form th:method="POST"  th:action="@{/dessert-card-save}" th:object="${product}" enctype="multipart/form-data"  >
          <div class="form-group">

              <input type="hidden" class="form-control" th:field="*{id}" id="id" >
              <h6>Главное фото (Соотношение сторон 5:7)</h6>
              <div class="row" id="banners">
                  <div class="col-12 col-sm-6 col-md-3 d-flex align-items-stretch flex-column">
                      <label class="upload__btn">
                          <div th:switch="${product.image}">
                              <!--                                    <h2 th:case="null">Добавьте продукт</h2>-->
                              <!--                                    <div th:case="*">-->
                              <img th:case="null" src='/images/empty.jpg' id="photo-img0" alt='image' style='width: 100%'>
                              <img th:case="*" th:src="${product.image}" id="photo-img0" alt="Image" style="width: 100%">
                          </div>
                          <input type="file" th:field="*{image}" name="image"  id="photo-input-img0" class="upload__inputfile" onchange="uploadBanner0()">
                          <p>Загрузить изображение</p>
                      </label>
                  </div>
              </div>
              <br>
              <br>
              <label for="name">Название</label>
              <input type="text" class="form-control" th:field="*{name}" id="name" placeholder="введите название">
              <br>
              <label for="description">Описание</label>
              <textarea class="form-control" th:field="*{description}" id="description" placeholder="введите описание" rows="5"></textarea ><br>
          </div>
          <div class="row">
              <div class="col-md-3" >
                  <label for="value">Размер, еденица измерения</label>
                  <input type="text" class="form-control" th:field="*{sValue}" id="value" placeholder="200 мл">
                  <label for="price">Цена</label>
                  <input type="text" class="form-control" th:field="*{sPrice}" id="price" placeholder="30.50">
              </div>
          </div>
          <br>
          <button type="submit" class="btn btn-secondary">Сохранить</button>
      </form>



            </div>
        </div>
    </div>
</div>




<!-- jQuery -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!-- Latest compiled and minified JavaScript -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<script src="/JS/Upload.js"></script>
</body>
</html>